<h1>Welcome Candidate</h1>
<p>
  You have been tasked with completing the following user story.
</p>
<h3>Display a list of customers with details</h3>
<h4>Description</h4>
<p>
  A user should be able to click on the 'Customer Directory' link where they will be routed to /customers. On the customers route the user should see a list of customers returned using a GET request.
</p>
<h4>Acceptance Criteria</h4>
<ul>
  <li>Users can navigate to /customer using the Customer Directory link located on the homepage</li>
  <li>Users should see a list of customers with their details hidden by default</li>
  <li>Users should be able to click on a customer to expand the customer details</li>
  <li>Follows the provided design as closely as possible considering you can't inspect the design</li>
</ul>